.head {
  background-color: rgba(0, 0, 0, .5);
  border-color: transparent;
}

.app-name {
  color: white !important;
  font-size: 30px;
  padding-right: 40px;
}

.menu {
  font-size: 20px;
}

.navbar .nav > li > a {
  color: white;
  cursor: pointer;
}

.navbar .nav > li > a:hover {
  color: #0F83C6;
}

.cards {
  font-size: 30px;
}

.lead {
  text-align: justify;
}

.exercises {
  width: 80%;
  margin-top: 120px;
  margin-left: 100px;

}

.mobile-app {
  width: 65%;
  margin: 100px 100px 30px 0;
}

.mail {
  width: 80%;
  padding-top: 100px;
}

.flag {
   height: 20px;
   cursor: pointer;
}

.flag-container {
  padding: 10px;
}


/* SOCIAL MEDIA FOOTER */
/* Created by 1WD.tv - Freelance Web Designer Training. Available at https://codepen.io/1wdtv/pen/ojKxaE */
#lab_social_icon_footer {
  padding: 20px 0;
  background-color: #777;
}

#lab_social_icon_footer a {
  color: white;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */

  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

/* Multicoloured Hover Variations*/

#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}

#followus {
  color: white;
}

footer {
  padding-top: 20px;
}
/* END SOCIAL MEDIA FOOTER */



@media (max-width: 768px) {
  .disappear {
    display: none;
  }
}
