.head {
  background-color: rgba(0, 0, 0, .5);
  border-color: transparent;
}

.app-name {
  color: white !important;
  font-size: 30px;
  padding-right: 40px;
}

.menu {
  font-size: 20px;
}

.navbar .nav > li > a {
  color: white;
}

.navbar .nav > li > a:hover {
    color: #0F83C6;
}

.headline {
  padding-bottom: 120px;
}

.features {
  padding-bottom: 80px;
}

.cards {
  font-size: 30px;
  padding-bottom: 40px;
}

.mail {
  width: 100%;
  padding-top: 25px;
}
