.head {
  background-color: rgba(0, 0, 0, .5);
  border-color: transparent;
  color: white;
}

.app-name {
  color: white;
  font-size: 30px;
  padding-right: 40px;
}

.menu {
  color: grey;
  font-size: 20px;
}

.headline {
  padding-bottom: 120px;
}

.features {
  padding-bottom: 80px;
}

.cards {
  font-size: 30px;
  padding-bottom: 40px;
}

.mail {
  max-width: 200px;
  padding-top: 150px;
}
