header {
  text-align: center;
  background-color: #6dff13;
  background-image: url("../project/images/Protruding-Squares.svg");
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: 'Mali', cursive;
  margin: -8px;
}

.header-link a {
  color: white;
}
h1 {
  font-size: 50px;
  text-align: center;
  margin: auto;
  padding-top: 10px;
}
h2 {
  /*font-family: 'Permanent Marker', cursive;*/
  font-family: 'Fredoka One', cursive;
  /*font-family: 'Indie Flower', cursive;*/
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
}
/* img {
  border: 7px solid black;
  border-radius: 20px;
  width: 50%;
} */
ul {
  padding: 10px;
  background: rgba(0,0,0,0.25);
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }
  li {
    padding: 5px;
    display: block;
  }
}
